main{
    margin: 10px;
}

  #tablaArticle{
    margin:7px;
    border: 1px solid #ccc;
  }
  
  .tabla-contenedor {
    max-height: 300px;
    overflow-y: auto;
  }
  
  .tabla-productos {
    width: 100%;
    border-collapse: collapse;
  }
  
  .tabla-productos th,
  .tabla-productos td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
  }
  
  .tabla-productos thead th {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;
  }

.paddintd td{
    padding: 20px;
}

.titulo-seccion {
    font-size: 28px;
    font-weight: 600;
    color: #ffffff;
    border-left: 6px solid #000000;
    padding-left: 16px;
    margin: 0px 0px 20px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:linear-gradient(90deg,#000000c4,#ffffff);
    padding: 5px 5px;
    padding-left: 20px;
}

.icon-rojo {
  color: red;
}

.imgButonn{

  margin-left: 0%;
  padding-left: 0;
}

.sppp{
  padding-bottom: 5px ;
}

.bttomm{
   padding: 16px 32px;
}

.buttonGenerPDF{
  position: absolute; 
  right: 100px;
}

.buttonBuscar{
  margin-left: 10px;
}