<app-header></app-header>

<main>
    <h3>Productos</h3>

    <form [formGroup]="codidoForm" (submit)="buscarCodigo()">
        <label for="codigo">codigo:</label>
        <input type="number" id="cod" name="cod" formControlName="codigo">
        <button type="submit">Buscar</button>

    </form><br>


</main>

<article id="tablaArticle">

  <div class="tabla-contenedor">
    <table class="tabla-productos">
      <thead>
        <tr>
          <th>Eliminar</th>
          <th>Código</th>
          <th>Nombre</th>
          <th>Cantidad</th>
          <th>Precio venta</th>
          <th>Precio costo</th>
        </tr>
      </thead>
      <tbody> 
        
        @if (productosExistencia.codigo != 0) {
          <tr>
            <td >
              <img src="borrar.png" alt="" width="30" height="30" (click)="eliminar(productosExistencia.idProductos)" style="cursor: pointer;">
            </td>
            <td contenteditable="true" (blur)="guardarCambioLocal(productosExistencia, $event, 'codigo')">
              {{productosExistencia.codigo}}
            </td>
            <td contenteditable="true" (blur)="guardarCambioLocal(productosExistencia, $event, 'nomProducto')">
              {{productosExistencia.nomProducto}}
            </td>   
            <td contenteditable="true" (blur)="guardarCambioLocal(productosExistencia, $event, 'cantidad')">
                {{productosExistencia.cantidad}}
            </td>
            <td contenteditable="true" (blur)="guardarCambioLocal(productosExistencia, $event, 'precioVenta')">
              {{productosExistencia.precioVenta}}
            </td>
            <td contenteditable="true" (blur)="guardarCambioLocal(productosExistencia, $event, 'precioCosto')">
              {{productosExistencia.precioCosto}}
            </td>
          </tr>
        }
            
              
            

            @for (item of getArray(6) ; track $index) {

              <tr class="paddintd">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            }
        
       
      </tbody>
    </table>

  </div>
  

</article>


<article>
  <button (click)="guardar()">guardar</button>

</article>


  
