
@if (cargando) {
  <app-spinner-carga></app-spinner-carga>
}
<div class="login-background">
   

  <img src="sgv.PNG"    alt="" width="300" height="200">
  <mat-card class="login-card">
    <form [formGroup]="loginForm" (ngSubmit)="inSesion()">
      <h2 class="login-title">Iniciar Sesión</h2>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Usuario</mat-label>
        <input matInput formControlName="username" placeholder="Escribe tu nombre">
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Escribe tu contraseña">
      </mat-form-field>

      <button mat-raised-button color="accent" type="submit" [disabled]="loginForm.invalid">
        Iniciar sesión
      </button>

   
      @if (loginError) {
           <mat-error >{{ loginError }}</mat-error>

      }
    </form>
  </mat-card>
  
  <footer class="login-footer">
  <p>© 2025 OpenWebinars S.L. Todos los derechos reservados</p>
  <ul>
    <li><a href="#">Mapa del sitio</a></li>
    <li><a href="#">Términos y Condiciones de Uso</a></li>
    <li><a href="#">Política de Privacidad</a></li>
    <li><a href="#">Cookies</a></li>
    <li><a href="#">Política de Seguridad</a></li>
  </ul>
</footer>
</div>
