<app-header></app-header>
@if (cargando) {
  <app-spinner-carga></app-spinner-carga>
}
<h2 class="titulo-seccion">Ventas de productos</h2>
<main>

  

    


    <!-- Formulario usando Angular Material -->
  <form [formGroup]="codidoForm" (submit)="buscarCodigo()" class="form-material">
    <mat-form-field appearance="outline" class="material-input">
      <mat-label>Código</mat-label>
      <input matInput type="number" id="cod" formControlName="codigo" />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Buscar</button>
  </form>
  <br />

    <article id="tablaArticle">
        <div class="tabla-contenedor">
            <table class="tabla-productos">
              <thead>
                <tr>
                  <th>Eliminar</th>
                  <th>Código</th>
                  <th>Nombre</th>
                  <th>Cantidad</th>
                  <th>Precio Unitario</th>
                  <th>Precio Total</th>
                </tr>
              </thead>
              <tbody>


                @for (producto of productos; track $index) {
                        
                  <tr>
                    <td >
                      <img src="borrar.png" alt="" width="30" height="30" (click)="eliminar($index)" style="cursor: pointer;">
                    </td>
                    <td>{{producto.codigo}}</td>
                    <td>{{producto.nomProducto}}</td>   
                    <td>
                        <input type="number" [(ngModel)]="producto.cantidad" (ngModelChange)="totalVenta = getTotalVenta()">
                    </td>
                    <td>{{producto.precio}}</td>
                    <td>{{producto.precio*producto.cantidad}}</td>
                  </tr>
                  
                }
                <tr class="paddintd">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr class="paddintd">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr class="paddintd">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr class="paddintd">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr class="paddintd">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr class="paddintd">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr class="paddintd">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
              </tbody>
            </table>
        </div><br>
    </article>
  
   <mat-card class="filtro-card">
  <div>
    <!-- Botones de método de pago -->
    <form class="buttonEfectivo-Tarjeta">
      <button mat-stroked-button color="accent" (click)="metodoDePago = 'efectivo'">
        <img src="billete.png" alt="Efectivo" width="150" height="100" />
      </button>
      <button mat-stroked-button color="accent" (click)="metodoDePago = 'tarjeta'">
        <img src="tarjetaCredito.png" alt="Tarjeta" width="150" height="100" />
      </button>
    </form>

    <!-- IVA y Total -->
    <div class="iva">
      <div class="iva-item">
        <h2>Iva:</h2>
        <h3>{{ geIvaTotal() }}</h3>
      </div>
      <div class="iva-item">
        <h1>Total:</h1>
        <h2 id="total">{{ totalVenta }}</h2>
      </div>
    </div>
  </div>

  <div class="contenedor-formulario-boton">
    <div class="formulario-cambio">
    <!-- Formulario de cambio -->
    @if (metodoDePago == "tarjeta") {
      <form class="form-cambio">
        <mat-form-field appearance="outline" class="material-input">
          <mat-label>Efectivo</mat-label>
          <input matInput type="number" [disabled]="true" value="0" />
        </mat-form-field>
      </form>
      <div class="Cambio">
        <h2>Cambio:</h2>
        <h3>0</h3>
      </div>
    } @else if (metodoDePago == "efectivo") {
      <form class="form-cambio">
        <mat-form-field appearance="outline" class="material-input">
          <mat-label>Efectivo</mat-label>
          <input matInput type="number" [(ngModel)]="efectivoCambio" [ngModelOptions]="{standalone: true}" />
        </mat-form-field>
      </form>
      <div class="Cambio">
        <h2>Cambio:</h2>
        <h3>{{ getCambio() }}</h3>
      </div>
    }
    </div>
    
    <button id="pagar" mat-raised-button color="primary" (click)="pagar()">
      Pagar
      <img src="pago.png" alt="Pagar" width="150" height="100" />
    </button>
    <br />
  </div>

  </mat-card>
      


</main>
      
      
