

<mat-toolbar class="custom-toolbar mat-elevation-z4 toolbar-vertical">
  <div class="toolbar-header">
    <img src="logoEmpresa.png" alt="Logo de Escalmo" class="app-icon" />
    <span class="app-title">Escalmo S.L</span>
  </div>

  <div class="toolbar-bottom-row">
    <nav class="toolbar-nav">
      <button mat-button routerLink="/ventas">  
        <img src="ventas.png" alt="guardar" height="30px" width="30px" >
        Ventas
      </button>
      <button mat-button routerLink="/personal">
          <img src="personal.png" alt="guardar" height="30px" width="30px" >
        Personal</button>
      <button mat-button disableRipple routerLink="/productos">
        <img src="productos.png" alt="guardar" height="30px" width="30px" >
        Productos</button>
      <button mat-button routerLink="/estadisticas">
        <img src="estadisticas.png" alt="guardar" height="30px" width="30px" >
        Estadísticas</button>
    </nav>

    <button mat-raised-button color="warn" class="logout-button" (click)="logout()">
        Cerrar sesión
    </button>

  </div>
</mat-toolbar>
